@charset 'utf-8';

/* Super Hack to disable autofill style for Chrome. */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.u-mt-10 {margin-top: 10px;}
.u-mt-20 {margin-top: 20px;}
.u-mb-10 {margin-bottom: 10px;}
.u-ml-15 {margin-left: 15px;}
.u-disp-iblock {display: inline-block;}
.no-visible {visibility: hidden;}

/**
 * Viewer size.
 * This height will be override to fit the browser height (by pdfanno.js).
 */
.anno-viewer {
    width: 100%;
    height: 500px;
}

/**
 * Annotation Select UI Layout.
 */
.anno-select-layout {}
.anno-select-layout .row:first-child {
    margin-bottom: 10px;
}
.anno-select-layout [type="radio"] {
    margin-right: 5px;
}
.anno-select-layout [type="file"] {
    display: inline-block;
    margin-left: 5px;
    line-height: 1em;
}
.anno-select-layout .sp-replacer {
    padding: 0;
    border: none;
}
.anno-select-layout .sp-dd {
    display: none;
}

/**
 * Dropdown.
 */
.dropdown-menu {
    overflow: scroll;
}

/**
 * Color picker.
 */
.anno-ui .sp-replacer {
    padding: 0;
    border: none;
}
.anno-ui .sp-dd {
    display: none;
}
.anno-ui .sp-preview {
    margin-right: 0;
}

/**
 * Modal dialog for Datalist.

    今後は不要かなー.
 */
.modal-datalist {}
.modal-datalist .list-group-item {
    position: relative;
    padding-right: 38px;
}
.modal-datalist .form-control {}
.modal-datalist .glyphicon-remove {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -7px;
}
.modal-datalist .list-group-item:last-child .glyphicon-remove {
    display: none;
}


/** TODO anno-uiへお引越し. */

/**
 * Label list.
 */
.label-list {}
.label-list li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}
.label-list li:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0 solid rgba(0,0,0,0);
}
.label-list__btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 1.5 ease-in-out;
    border-radius: 3px;
    background-color: white;
    margin-right: 10px;
    flex: 0 0 30px;
}
.label-list__btn:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.label-list__text {
    flex-grow: 1;
    cursor: pointer;
}
.label-list__input {
    flex-grow: 1;
    padding: 2px 5px;
}












